<div class="panel panel-default">
  <div class="panel-heading">
    Message Board
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<br>
<%= form_for(Message.new, :html => {:class => "form-group"}) do |f| %>
  Name:
  <%= f.text_field :name, :class => "form-control" %>

  Mesage (Max 400 Letters):
  <%#= f.text_field :body %>
  <%= f.text_area :body, :size => "100x4", :maxlength => "400", :class => "form-control" %>
  <br>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
